<div class="container-selecao-cerveja">
    <div class="box-selecao-cerveja">
        <div class="img-box">
            <img [src]="cerveja.image_url" alt="">
        </div>
        <div class="descricao-box">
            <div class="title-box">
                <h1>{{cerveja.name}}</h1>
            </div>
            <div class="info-box">
                <h4>{{cerveja.tagline}}</h4>
                <h5>ABV: <span>{{cerveja.abv}}</span></h5>
            </div>
            <div class="avaliacao-box">
                <div class="comentario-box">
                    <input type="text" placeholder="Comentários">
                </div>
                <div class="cerveja-avaliar">
                    <a><span>AVALIAR</span></a>
                  </div>
            </div>
        </div>

    </div>





</div>