*{
  padding: 0;
  margin: 0;
}

.container-selecao-cerveja{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

}

.btn-voltar > a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.box-selecao-cerveja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    height: 100%;
    
    

    
   
}

.img-box {
  width: 100%;
  height: auto; /* Torna a altura flexível para acomodar o tamanho da imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.img-box > img {
  height: auto;
  width: 100px;
}

.descricao-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    
}

.title-box{
    background-color: rgb(0, 89, 255);
    border-radius: 3px;
}

.title-box > h1{
    padding-left: 10px;
    font-weight: bold;
    color: white;
}

.info-box > h4{
    padding-left: 10px;
}

.info-box > h5{
    padding-left: 10px;
}

.avaliacao-box{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comentario-box{
    width: 100%;
    height: 80px;
}

.comentario-box > input{
    border-radius: 3px;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 40px;
    
}

.cerveja-avaliar > a{
    display: flex;
    width: 110px;
    height: 35px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    letter-spacing: 2px;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
    transition: all .35s;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .cerveja-avaliar > a span{
    position: relative;
    z-index: 2;
  }
  
  .cerveja-avaliar > a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 89, 255);
    transition: all .35s;
  }
  
  .cerveja-avaliar > a:hover{
    color: #ffffff;
  }
  
  .cerveja-avaliar > a:hover:after{
    width: 100%;
  }

  .container-comentario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;

  }

 .container-comentario > ul > li{
  margin-bottom: 5px;
 }

  .card-comentario{
    height: auto;
    padding-top: 5px;
    max-width: 100%;
  }

  .card-comentario > p{
    font-family: fantasy, cursive, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 18px;
    
    
  }