<div class="container">
  <div class="cerveja-input">
    <input type="text" [(ngModel)]="nameInput" placeholder="Digite um nome para buscar">
    <div class="cerveja-buscar">
      <a (click)="findName()"><span>BUSCAR</span></a>
    </div>
  </div>

  <div class="container-hr">
    <hr/>
  </div>

  <div class="container-table">
      <table class="table table-striped">
          <thead>
            <tr>
              <th (click)="ordenarPor('name')">Nome {{ ordemNome === 'asc' ? '▲' : '▼' }}</th>
              <th (click)="ordenarPor('tipo')">Tipo {{ ordemTipo === 'asc' ? '▲' : '▼' }}</th>
              <th >Imagem</th>
              <th (click)="ordenarPor('abv')">ABV {{ ordemABV === 'asc' ? '▲' : '▼' }}</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cerveja of cervejas">
                  <td><a [routerLink]="['/cervejas',cerveja.id]">{{ cerveja.name }}</a></td>
                  <td>{{ cerveja.tagline }}</td>
                  <td class="td_img"><img [src]="cerveja.image_url" alt="{{ cerveja.image_url }}" width="50"></td>
                  <td class="td_abv">{{ cerveja.abv }}</td>
                </tr>
          </tbody>
      </table>
  </div>
</div>