.container-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 99%;
}

.caixa-login{
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  width: 500px;
  height: 400px;
  max-width: 90%;
}

.caixa-login > .title{
  width: 100%;
  height: 45px;
  align-items: start;
  background-color: rgb(0, 89, 255);
  margin-bottom: 60px;
  border-bottom: 1px solid black;
  color: white;
}

.caixa-login > .title > h5{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.input-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;

}

.input-field > input{
  height: 35px;
  width: 250px;
  border-radius: 6px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 14px;
}


.btn-login{
  margin-top: 15px;
  width: 100px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #575656;
  letter-spacing: 1px;
  align-items: center;
  text-align: center;
  position: relative;
  justify-content: center;
  transition: all .35s;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(0, 89, 255);
  margin-bottom: 20px;
}

.btn-login > a{
  color: white;
  font-weight: 600;
}

.btn-login > a span{
  position: relative;
  z-index: 2;
}

.btn-login > a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all .35s;
}

.btn-login > a:hover{
  color: black;
}

.btn-login > a:hover:after{
  width: 100%;
}

.btn-esqueceusenha{
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.btn-esqueceusenha:hover{
  color: rgb(0, 89, 255);
}

.btns-utils > a{
    font-weight: lighter;
    text-decoration: underline;
}